<style type="text/css">

<!--   

body,p,td       { font-family: geneva,helvetica,arial; color: #000000; } 


a.menu1 { font-family: geneva,helvetica,arial;  font-size: 14px; }
a.menu1:link {  
text-decoration: none; text-align: left; font-weight: bold;
margin-top: 1px; margin-bottom: 1px; margin-top: 1px; margin-left: 1px; 
padding: 1px; 
line-height: 15px;
padding-left: 10px;
border-top:    1px #003366 solid; 
border-left:   1px #ffe5c3 solid; 
border-bottom: 1px #31557f solid; 
border-right:  1px #31557f solid; 
color: #ffffff; 
background-color: #666666; 
display: block;  }

a.menu1:visited {
text-decoration: none; text-align: left; font-weight: bold;
margin-top: 1px; margin-bottom: 1px; margin-top: 1px; margin-left: 1px; 
padding: 1px; 
line-height: 15px;
padding-left: 10px;
border-top:    1px #000000 solid; 
border-left:   1px #000000 solid; 
border-bottom: 1px #000000 solid; 
border-right:  1px #000000 solid; 
color: #ffffff; 
background-color: #666666; 
display: block;  }

a.menu1:hover   { color: #666666; 
line-height: 15px;
background-color: #EEEEEE; 
border-top:    1px #000000 solid; 
border-left:   1px #000000 solid; 
border-bottom: 1px #000000 solid; 
border-right:  1px #000000 solid; 
display: block;}

UL {padding-right: 1;} 
margin-left: +1px; --></style>


</style>

